/* css boxmodel properties */
/* reset declaration */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-color: tomato;
    width: 80%;
    margin: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 3px 3px 5px gray;
    margin-left: auto;
    margin-right: auto;
}
.header h1{
    background-color: rgba(0, 0, 0, .4);
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px gray;
}
.header p{
    border: 2px solid white;
    margin-bottom: 15px;
}
.header a{
    background-color: aqua;
    width: 200px; /* no support*/
    margin-left: 20px;
    margin-bottom: 30px; /*no support*/
    padding: 10px 15px;

}
.nav{
    background-color: yellowgreen;
    width: 500px;
    margin: 40px 25px;
    margin-left: 60px;
    /* margin-bottom: -60px; */
    padding: 20px 15px;
    margin-left: auto;
    margin-right: auto;
}
.nav ul{
    padding-left: 20px;
}
.nav img{
    width: 50px;
    height: 50px;
    background-color: red;
    padding: 10px;
    box-shadow: 3px 3px 5px gray;
}
.section{
    background-color: gray;
    margin: 30px 10% 40px 15%;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
.section p{
    border: 3px solid red;
    width: 60%;
    height: 400px;
    overflow: auto;
    margin: 10px 0;
    /* overflow:scroll ; */
    /* overflow: hidden; */
}
.solid{
    border: 5px solid tomato;
    border-top: none;
}
.dotted{
    border: 10px dotted teal;
    border-style: double ridge;
    border-color: yellow red;
    border-width: 20px 5px 8px 3px;
}
.dashed{
    border: 10p dashed crimson;
}
.double{
    border: 10px double seagreen;
}
.groove{
    border: 10px groove purple;
}
.ridge{
    border: 10px ridge darkblue;
}
.inset{
    border: 10px inset dodgerblue;
}
.outset{
    border: 10px outset goldenrod;
}
.radius{
    border: 10px solid black;
    height: 50px;
    border-radius:20px 50px 70px 10px;
    padding: 10px;
}
.circle{
    border: 5px solid red;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 20px;
    margin: auto;
}
.box-1{
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: content-box;
    margin: 10px auto;
}
.box-2{
    border: 2px solid green;
    width: 100px;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
    margin:10px auto;
}